$color-primary: #6B6B6B !default;

$color-grad1: #12D2D9 !default;         //按钮渐变色  
$color-grad2: #3FA7FB !default;

$color-tabbar-no: #C7C7C7 !default;     //tabbar未选中颜色
$color-tabbar-sel: #3CAAF9 !default;    //tabbar选中颜色